/node_modules
/public/hot
/public/storage
/public/images
/public/fonts
/public/json
/storage/*.key
/vendor
/materialize-shell-scripts
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
supervisord.log
supervisord.pid
**/.DS_Store
.idea/
composer.lock
/composer.lock
laravel-echo-server.json
laravel-echo-server.lock
/public/js/bootstrap.js
